body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    font-family: 'Courier New', monospace;
    color: #00ff00; /* Green text color */
}

#video-container {
    width: 100%;
    margin: 40px;
    margin-top: 10px;
    border-style: solid;
    border-color: #00ff00; 
}


#control-buttons {
    position: fixed;
    bottom: 200px;
    right: 200px;
    display: grid;
    grid-template-areas: 
        ". up ."
        "left down right";
    gap: 5px;
}

#control-buttons button {
    background-color: white;
    border: 20px solid white;
    padding: 10px;
    cursor: pointer;
}

#up { grid-area: up; }
#down { grid-area: down; }
#left { grid-area: left; }
#right { grid-area: right; }


.active {
    background-color: green;
}

