<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Tank</title>
</head>
<body>
    <div id="video-container">
        <img src="{{ url_for('video_feed') }}" width="100%"/>
    </div>
</div>
<div id="control-buttons">
    <button id="up"></button>
    <button id="left"></button>
    <button id="down"></button>
    <button id="right"></button>
</div>
    <script src="/static/socket-io.js"></script>
    <script src="/static/steering.js"></script>
</body>
</html>
